// css reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
input {
  outline: none;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
}
button {
  outline: none !important;
}

html,
body {
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Microsoft YaHei;
  padding-top: 80px;
}

.pc-wrap {
  margin: 0 auto;
  width: 1200px;
}
.bigsize {
  width: 1320px;
}

.clearfix:after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.clearfix {
  zoom: 1;
}

@keyframes beat1 {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes beat4 {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes beat2 {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes beat3 {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

@keyframes move-top {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// 清除浮动
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
// 解決方案动画
@keyframes hellp1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hellp2 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes hellp3 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tree-move-top1 {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tree-move-top2 {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tree-move-top3 {
  0% {
    transform: translateY(260px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tree-move-top4 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tree-move-top5 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes move-right {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swiper-right {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 1;
  }
}
@keyframes tree-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 1;
  }
}
@keyframes tree-lefts {
  0% {
    transform: translateX(-30px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes tree-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(30px);
    opacity: 1;
  }
}
@keyframes tree-rights {
  0% {
    transform: translateX(30px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.move-left {
  transform: translateX(0px);
  opacity: 0;
  animation-delay: 0.1s;
  animation: move-left 0.8s ease-out;
  animation-fill-mode: forwards;
}

.move-right {
  transform: translateX(0px);
  opacity: 0;
  animation-delay: 0.1s;
  animation: move-right 0.8s ease-out;
  animation-fill-mode: forwards;
}
.move-top1 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 0.2s;
  animation: move-top 0.1s ease-out;
  animation-fill-mode: forwards;
}
.move-top2 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 0.4s;
  animation: move-top 0.5s ease-out;
  animation-fill-mode: forwards;
}
.move-top3 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 0.6s;
  animation: move-top 0.4s ease-out;
  animation-fill-mode: forwards;
}
.move-top4 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 0.8s;
  animation: move-top 0.6s ease-out;
  animation-fill-mode: forwards;
}
.move-top5 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 0.9s;
  animation: move-top 0.8s ease-out;
  animation-fill-mode: forwards;
}
.move-top6 {
  transform: translateY(50px);
  opacity: 0;
  animation-delay: 1s;
  animation: move-top 1s ease-out;
  animation-fill-mode: forwards;
}
.swiper-slide-move{
    //  transform: translateY(50px);
  opacity: 0;
  animation-delay: .1s;
  animation: swiper-right .3s ease;
  animation-fill-mode: forwards;
}